.card {
    padding: 20px 15px;
    border: 1px solid rgba(180, 194, 211, 0.4);
    border-radius: 10px;
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-height: 20px;
    max-height: 120px;
}

.card:hover {
    border: 1px solid rgba(180, 194, 211, 0.6);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
    transition: 0.2s
}