.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.container {
    margin-bottom: 60px;
}

@media screen and (max-width: 720px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}